$color-primario: #CE2D53;
$boton-primario: #3EFF51;

a{
    text-decoration: none;
}

.navbar {
    background-color: $color-primario;
    width: 100%;
    height: 110px;
    margin-bottom: 50px;
    &__container {
        display: flex;
        align-items: center;
        .logo {
            width: 100px;
            height: 100px;
        }
        h1 {
            font-size: 35px;
            color: white;
            font-weight: 700;
            
        }
        
        
    }
}
.contenedor{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    .botones {
        width: 120px;
        height: 60px; 
        border-radius: 10px;
        margin-bottom: 15px;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $boton-primario;
        color: black;
        font-size: 13px;
        font-weight: 500;
        text-decoration: none;
    }

    .cancelar {
        padding: 10px;
        background-color: $color-primario;
        color: white;
        border: 1px solid #000;
        &:hover {
            background-color: whitesmoke;
            color: black;
            transition: 300ms;
        }
    }

    .seleccionarFormulario {
        margin-left: 20px;
        padding: 10px;
        font-weight: 700;
        background-color: #fff;
        border-radius: 0px;
    }
}
